* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
     background-color: #da3baa;
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
       }
.box {
    background-color: #edf793;
    padding-left: 60px;
    padding: 60px;
}

.box h2 {
    margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: #201e20;
   font-style: italic
   font-family: sans-serif;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 16px;
    border: none;
    border-style: solid;
    border-color: rgb(0, 13, 128);
    border: 2px solid #64A6BD;
    outline: none;
    font-size: 22px;
    border-style: solid;
    border-color: rgb(133, 74, 211);
}
 input ::placeholder {
     font-size: 26px;
 }

 #btnGen {
     display: flex;
     font-size: 20px;
     font-weight: 500;
     background-color: #f0b363;
     color: #161516;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     padding-top: 10px;
     margin-left: 30%;
     border-radius: 26px;
     border-style: solid;
     border-color: rgb(32, 31, 31);
 }
 #btnGen:hover {
     color: #22201b;
     background-color: #f1b8d8;
 }